div.oboli-count {
	float:right;
	font-size:14px;
	color: white;
	background-color: #FF6D00;
	padding-left:16px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	border-radius: 30px;
	margin-top: 4px;
}

.oboli-count img {
	height:20px;
	width:29px;
	margin-right:5px;
}

.signup-separator {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

.equal-box {
	background-color: #EAEAEA;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.equal-box hr{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.tab-wrap {
	margin-top: 50px;
}

input:focus,textarea:focus {
	background-color: #FED2B1;
}



.panel-login {
	margin-bottom: 50px;
	background-color: #E9E9E9;
	border: 1px solid #C2C2C2;
	border-radius: 4px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
}

.signup-bottom {
	margin-left: 5px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.panel-heading {
	padding-top: 10px;
	padding-bottom: 10px;
	
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	font-size: 18px;
}

.panel-body {
	margin-top: 20px;
}


.article-list .ngo-description {
	/*padding-left: 10px;*/
}

.pull-left.warning-icon-box {
	border-radius: 4px;
}

.btn {
	border-radius: 4px;
}


.img-davide {
   background: url('../../img/web/team/davide.png') ;
   height: 272px;
   width: 263px;
}

.img-davide:hover {
   background: url('../../img/web/team/davide.png') 0px 272px;
}



.img-edoardo {
   background: url('../../img/web/team/edoardo.png');
   height: 272px;
   width: 263px;
}

.img-edoardo:hover {
   background: url('../../img/web/team/edoardo.png') 0px 272px;
}

.img-gaia {
   background: url('../../img/web/team/gaia.png');
   height: 272px;
   width: 263px;
}

.img-gaia:hover {
   background: url('../../img/web/team/gaia.png') 0px 272px;;
}

.img-alberto {
   background: url('../../img/web/team/alberto.png');
   height: 272px;
   width: 263px;
}

.img-alberto:hover {
   background: url('../../img/web/team/alberto.png') 0px 272px;;
}

.ngo-description {
	padding-left: 5px;
	padding-right: 5px;
}

.btn-social li{
padding-bottom:50px
}

.form-control {
	border-color: #cccccc;
}

/*
.nav a {
	background-color: #B04B00;
	border-bottom-width: 10px;
	border-bottom-width: solid;
	border-bottom-color: #cccccc;
}
*/



.title-fixed-container {
	height: 57px;
	padding-left: 5px; 
	padding-right: 5px; 
	position: relative;
}

.article-list .ngo-title {
	color: #ff620d;
	font-size: 20px;
	line-height: 1.1;
	cursor: pointer; 
	cursor: hand;
	font-weight: 500;
}

.img-thumb {
	cursor: pointer; 
	cursor: hand;
}
	
.img-thumb:hover {
	cursor: pointer; 
	cursor: hand;
}
	
.banner-heading h2 {
	color: white;
	text-shadow: 0.5px 0.5px #000000;
}

.row-team {
	margin-bottom: 50px;
}

.img-team {
}

.profile-block {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.profile-block .title h2{
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
}

.error .form-control{
	border-color: red;
}

.errors li {
	text-align: left;
}

.errors h3 {
	margin-bottom: 5px;
	text-align: left;
}

.errors {
	margin-bottom: 40px;
	}
	
.show-all-btn {
	text-align: center;
	margin-bottom: 120px;
	margin-top: 0px;
}

.modal-header {
	padding-bottom: 0px;
}

.modal-body{
	margin-top: 0px;
	margin-bottom: 50px;
}

.bottom-bar {
	margin-top: 60px;
}

.value {
	color: #FF6000;
	font-size: 22px;
}

.metric {
	color: #9C9C9C;
	font-size: 14px;
}

.navbar-default .navbar-nav > li > a {
	font-size: 16px;
}

.area {
	position: relative;
	top: 20px;
}

.ngo-description p {
	color: #474747;
}

.btn-donation {
	background: none repeat scroll 0% 0% #ff6e03;
	color: white;
	border-color: #ff6e03;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
}

.btn-donation:hover {
	background: none repeat scroll 0% 0% #E16100;
	color: white;
	border-color: #E16100;
	border-radius: 30px;
	font-size: 14px;
	font-weight: 600;
}

.progress1 {
	position: relative;
	background: none repeat scroll 0% 0% #ff4e00;
	width: 75%;
	height: 100%;
}

.progress2 {
	position: relative;
	background: none repeat scroll 0% 0% #ff8830;
	width: 60%;
	height: 100%;
}

.progress3 {
	position: relative;
	background: none repeat scroll 0% 0% #ff4e00;
	width: 40%;
	height: 100%;
}

.recent-ngo {
	position: relative; 
	width: 100%; /* for IE 6 */
	padding-bottom: 0px;
}


.recent-ngo .name { 
	font-size: 16px;
	position: absolute; 
	top: 20px; 
	left: 20px; 
	padding-right: 30px;
	width: 100%; 
	color: white;
}

.article-list h3 {
	color: #ff6e03;
	font-weight: 700;
} 

 .items img.metric-icon {
	height: 18px;
	width: auto;
	display: inline;
}

.metric-number {
	color: 	;
}

.donation .value {
	margin-right: 20px;
}

 .donation {
	font-color: #ff6e03;
}

.article-list ul {
	vertical-align: center;
}


.article-list .details {
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}

.page-header h2 {
	color: #ff6e03;
}

.donation .element * {
	display: inline;
}

.archives img {
	width: 25px;
	height: 25px;
	margin-right: 5px;
}

.separator {
	width: 10px;
}

aside.media h3.space-top {
	font-weight: 500;
}

aside.media .progress {
	margin-bottom: 10px;
}



/* DA MODIFICARE - START */
@media (min-width: 328px) {
	.title-container {
		height: 60px;
	}
}

@media (min-width: 1200px) {
	.title-container {
		height: 45px;
	}
}
/* DA MODIFICARE - STOP */

.article-list-large .h4 {
    color: #ff6e03;
    padding-left: 10px;
    margin-bottom: 0px;
}

.metric-icon {
	padding-bottom: 6px;
	margin-right: -2px;
}

.modal-body .btn {
	display: inline;
}




.btn-social{position:relative;padding-left:44px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.8em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}
.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:2.0em; margin-top: -3px;}
.btn-social.btn-sm{padding-left:38px}
.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}
.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}
.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}
.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}
.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}
.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}
.btn-twitter{color:#fff;background-color:#55acee;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{color:#fff;background-color:#2795e9;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open>.dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#55acee;border-color:rgba(0,0,0,0.2)}
.btn-twitter .badge{color:#55acee;background-color:#fff}
